@import url('https://fonts.googleapis.com/css2?family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --vh: 1vh;
    --primary: #ffc90e;
    --header-height: 5rem;
    --titles-color: #5b3813;
    --body-background: #fffbee;
    --h1-size: 3rem;
    --h2-size: 2rem;
    --h3-size: 1.5rem;
}

#content,
#slider {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    height: calc(var(--vh, 1vh) * 100);
    /* Usamos el alto calculado */
}

/* Añadir padding para evitar notch */
body {
    padding:
        env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
}

html body {
    margin: 0;
    padding: 0;
    width: 100vw;
    min-width: 200px;
    min-height: 300px;
    background-color: var(--body-background);
}

::-webkit-scrollbar {
    display: none;
}

* {
    box-sizing: border-box;
    font-family: "Sour Gummy", sans-serif;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--titles-color);

}

.header {
    background: #3119003d;
    backdrop-filter: blur(5px);
    box-shadow: 0 0 10px -4px #0007;
    width: 100vw;
    height: 5rem;
    display: grid;
    align-content: center;
    padding: 1rem;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
}



.header .home img {
    width: calc(var(--header-height) - 1rem);
    height: calc(var(--header-height)- 1rem);
}

.header .brand-name {
    color: var(--primary);
}

.header .home {
    display: grid;
    /* border: solid 1px; */
    grid-template-columns: min-content auto;
    grid-gap: 1rem;
    font-size: 1.75rem;
    font-weight: 600;
    color: #fff;
    align-items: center;
}

.header .logo img {
    width: 3rem;
    height: 3rem;
}

.btn-primary {
    display: block;
    margin-top: 1rem;
    background: var(--primary);
    color: var(--titles-color);
    padding: 0.5rem 2rem;
    max-width: max-content;
    border-radius: 50px;
    border: solid 1px;
    margin: 0 auto;
    display: block;
    margin: auto 0 auto auto;
}

::-webkit-scrollbar {
    display: none;
}

.footer {
    padding: calc(var(--header-height) + 0.5rem) 2rem 0 2rem;
    background-image: url(../img/footer.webp);
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    overflow-y: scroll;
    min-height: max-content;
    padding-bottom: 1rem;
}

section#contactos:before {
    content: "";
    position: absolute;
    inset: 0;
    background: #0009;
}

.contactos {
    padding: 1rem;
    background-color: #0005;
    backdrop-filter: blur(20px);
    border-radius: 10px;
    box-shadow: 0 0 10px #fff3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem 0;
    max-width: 300px;
    margin: 0 auto;
}

.footer .contactos p {
    color: #fff3e3;
    margin: 0.25rem;

}

.footer .contactos a {
    display: block;
    text-align: center;

}

.footer .contactos p i {
    font-size: 0.85rem;
    align-self: center;
}

.footer .contactos a {
    font-size: 1.25rem;
    color: #fff3e3;
    font-weight: 600;
    min-width: max-content;
}

.footer .contactos .title {
    text-align: center;
    font-weight: 600;
    font-size: 1.25rem;
    color: #fff3e3;
    grid-column: 1/3;
}

.location {
    background-color: #0005;
    backdrop-filter: blur(20px);
    text-align: center;
    border-radius: 10px;
    font-weight: 600;
    box-shadow: 0 0 10px #fff3;
    margin: 0.5rem auto;
    max-width: 300px;
}

.location iframe {
    width: 100%;
    height: 25vh;
    margin: 0;
}

.location p {
    padding: 0.5rem 0;
    margin: 0 auto;
    color: #fff3e3;
}

.rrss {
    background-color: #0005;
    backdrop-filter: blur(20px);
    border-radius: 10px;
    box-shadow: 0 0 10px #fff3;
    max-width: 300px;
    margin: 0 auto;
}

.rrss p {
    text-align: center;
    padding: 0.5rem 0;
    margin: 0 auto;
    color: #fff3e3;
    font-weight: 600;
}

.rrss div {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    text-align: center;
    grid-gap: 2rem;
    max-width: max-content;
    margin: 0 auto;
    padding: 1rem 0;
}

.rrss div a i {
    font-size: 2rem;
    color: #fff3e3;
}

.footer_footer {
    background: #0009;
    color: #939393;
    font-size: 0.75rem;
    position: absolute;
    bottom: 0;
    padding: 0.25rem;
    text-align: center;
    backdrop-filter: blur(10px);
    left: 0;
    right: 0;
}

.footer_footer a {
    color: #fff;
    text-decoration: none;
}