#portada {
    width: 100vw;
    height: 100vh;
    min-height: 100vh;
    max-height: 100vh;
    background-color: #f0d1b0;
    scroll-snap-align: start;
    position: relative;
}


.video-container {
    position: absolute;
    top: 5rem;
    height: calc(100vh - 5rem);
}

.video-container:before {
    content: "";
    inset: 0;
    position: absolute;
    background: #0009;
    /* z-index: -1; */
}

.video-container video {
    width: 100vw;
    height: calc(100vh - 5rem);
    object-fit: cover;
    object-position: center;
    z-index: -2;
}


#portada h1 {
    position: absolute;
    bottom: 3rem;
    font-size: 3rem;
    padding: 2rem;
    color: #f0d1b0;
    text-shadow: 0 0 10px #0009;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    max-width: max-content;
    max-height: min-content;
    margin: auto auto;
    text-align: center;


}


#content-all {
    /* box-shadow: inset 0 0 1px 1px red; */
    width: 100vw;
    height: 100vh;
    overflow-x: scroll;
    overflow-y: scroll;
    display: flex;
    flex-wrap: wrap;
    scroll-snap-type: y mandatory;
    scroll-snap-align: start;
    /* position: relative; */
}

.product-content {
    scroll-snap-align: start;
    width: 100vw;
    height: 100vh;
}


.content-products {
    position: fixed;
    width: clamp(300px, 100vw, 900px);
    top: 11rem;
    left: 0;
    right: 0;
    margin: 0 auto;
    /* border: solid 1px #000; */
    /* box-shadow: inset 0 0 1px 1px red; */
    scroll-snap-type: x;
    pointer-events: none;
    /* z-index: 2; */
}

.scrollH {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
    width: 100vw;
    pointer-events: none;
    height: 25vh;
    min-height: 120px;
    height: 25vh;
    max-height: 300px;
}



.product {
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    height: 25vh;
    min-height: 120px;
    max-height: 300px;
    /* box-shadow: inset 0 0 1px 1px blue; */
}



.product img {
    width: 25vh;
    min-width: 120px;
    max-width: 300px;
    height: 25vh;
    min-height: 120px;
    max-height: 300px;
    transform-origin: 50% 50%;
    /* border: solid 1px green; */
}


.content-description {
    width: 100vw;
    max-width: 100vw;
    /* min-width: 100vw; */
    height: 100vh;
    min-height: max-content;
    max-height: max-content;
    background-size: cover;
    background-attachment: fixed;
    z-index: -1;
    overflow-y: scroll;
}

.content-description .bg {
    height: calc(10rem + 25vh);
    background-image: url(../img/bg.png);
    background-attachment: fixed;
    padding-top: 2rem;
}

.clamp {
    width: clamp(300px, 100vw, 900px);
    margin: 0 auto;
}

.content-description .bg {
    height: calc(10rem + 25vh);
    box-shadow: inset 0px -20px 25px -15px #0005;
}

.content-description h1 {
    text-align: center;
    font-size: 3rem;
    text-shadow: 0 0 10px #fff;
    /* padding: 2rem 0 0 2rem; */
}

.content-description .description {
    display: block;
    /* height: calc(75vh - 10rem);
    min-height: calc(75vh - 10rem);
    max-height: calc(75vh - 10rem); */
    padding: 1rem 2rem 0;
    display: grid;
    align-content: center;
    /* border: solid 1px yellowgreen; */
    margin-top: 1rem;
}

.content-description .min-desc {
    font-size: 1.25rem;
    margin: 0;
}

.content-description .description p {
    line-height: 1.25;
    font-size: 1rem;
}

.content-description .description a {
    display: block;
    padding: 1rem 2rem;
    text-decoration: none;
    background: #f0d1b0;
    color: #5b3813;
    border-radius: 100px;
    margin: 0 0 auto auto;
    border: solid 1px;
    font-weight: 500;
}


@media screen and (max-height: 750px) {
    #portada h1 {
        font-size: 2.25rem;
        /* color: yellow; */
    }

    .content-description h1 {
        font-size: 1.9rem;
        padding: 1.75rem 0;
    }

    .content-products {
        top: 9rem;
    }

    .content-description .bg {
        height: calc(8rem + 25vh);
    }

    .content-description .min-desc {
        font-size: 1.5rem;
    }

    .content-description .description p {
        line-height: 1.25;
        font-size: 1rem;
    }

    .content-description .description a {
        padding: 0.75rem 1.75rem;
        font-size: 1.15rem;
    }

    .footer .contactos .title {
        font-size: 1.25rem;
    }

    .footer .contactos p {
        font-size: 0.9rem;
    }

    .footer .contactos a {
        font-size: 1rem;
    }
}


@media screen and (max-height: 650px) {
    #portada h1 {
        font-size: 2rem;
        /* color: green; */
    }

    .content-description h1 {
        font-size: 1.9rem;
        padding: 1.75rem 0;
    }

    .content-products {
        top: 10rem;
    }

    .content-description .bg {
        height: calc(9rem + 25vh);
    }

    .content-description .min-desc {
        font-size: 1.25rem;
    }

    .content-description .description p {
        line-height: 1;
        font-size: 1rem;
    }

    .content-description .description a {
        padding: 0.75rem 1.75rem;
        font-size: 1rem;
    }

    /*! */
    .footer .contactos .title {
        font-size: 1rem;
    }

    .footer .contactos p {
        font-size: 0.85rem;
    }

    .footer .contactos a {
        font-size: 1rem;
    }
}

@media screen and (max-height: 550px) {
    #portada h1 {
        font-size: 1.75rem;
        /* color: red; */
    }

    .content-description h1 {
        font-size: 1.5rem;
        padding: 1.5rem 0;
    }

    .content-products {
        top: 9rem;
    }

    .content-description .bg {
        height: calc(8rem + 25vh);
    }

    .content-description .min-desc {
        font-size: 1rem;
    }

    .content-description .description p {
        line-height: 1;
        font-size: .85rem;
    }

    .content-description .description a {
        padding: 0.5rem 1.5rem;
        font-size: 0.9rem;
    }

    /*! */
    .footer .contactos .title {
        font-size: 1rem;
    }

    .footer .contactos p {
        font-size: 0.85rem;
    }

    .footer .contactos a {
        font-size: 1rem;
    }

}