:root {
    --primary: #039777;
}

::-webkit-scrollbar {
    display: none;
}


#slider {
    position: fixed;
    width: clamp(120px, 50vh, 400px);
    height: clamp(120px, 35vh, 400px);
    /* border: solid 1px red; */
    top: 4rem;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    pointer-events: none;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
    scroll-snap-align: center;
    animation: heart 6s ease-in-out infinite;
    filter: drop-shadow(0 0 10px #000);
    z-index: 10;
    margin: 2rem auto;
    max-width: 96vw;
}

@keyframes heart {
    0% {
        transform: scale(1);
        filter: drop-shadow(0 0 10px #0008);

    }

    50% {
        transform: scale(1.075);
        filter: drop-shadow(0 0 10px 5px #000);

    }

    100% {
        transform: scale(1);
        filter: drop-shadow(0 0 10px #0008);

    }
}

#slider .product {
    width: 100%;
    height: 100%;
    scroll-snap-align: start;
    /* border: solid 1px blue; */
    display: block;
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: 50% 50%;
    object-fit: cover;
    z-index: 10;
    margin-bottom: 50vh;
    margin: 0 auto 100vh auto;

}

.bodyBG {
    position: fixed;
    inset: 0 0 auto 0;
    /* background-color: #333; */
    height: calc(5rem + 30vh);
    z-index: 0;
    display: flex;
    overflow-x: hidden;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    pointer-events: none;
    white-space: nowrap;
}

/* .bodyBG:after {
    content: "";
    position: fixed;
    inset: auto 0 0 0;
    height: 50vh;
    backdrop-filter: blur(20px);
} */


.bodyBG article {
    width: 100vw;
    min-width: 100vw;
    height: 100%;
    display: block;
    /* border:solid 1px red; */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0% 100%;
    /* background-attachment: fixed; */
    scroll-snap-align: center;
    margin: 1rem 0;
}


.bodyBG .b1 {
    background-image: url(../img/bg.png);
}

.bodyBG .b2 {
    background-image: url(../img/bg.png);
}

.bodyBG .b3 {
    background-image: url(../img/bg.png);
}



.p1 {
    background-image: url(../img/promos/p1.png);
}

.p2 {
    background-image: url(../img/promos/p1.png);
}

.p3 {
    background-image: url(../img/promos/p1.png);
}


#content {
    display: grid;
    overflow-x: hidden;
    overflow-y: scroll;
    position: absolute;
    inset: 5rem 0 0 0;
    border: solid 1px yellow;
    scroll-snap-type: y mandatory;
    grid-auto-rows: calc(100vh - 5rem);
    overflow-x: hidden;
    overflow-y: scroll;

}



#content .description {
    /* border: solid 1px green; */
    scroll-snap-align: center;
    inset: 0;
    display: grid;
    width: clamp(290px, 100vw, 900px);
    position: relative;
    max-width: 100vw;
    margin: 0 auto;
    height: 100%;
    padding: 0 1rem;
    align-content: flex-start;
}

#content .description .title {
    /* color: var(--primary); */
    font-size: 2rem;
    font-weight: 700;
    text-shadow: 0 0 5px #fff, 0 0 10px #0005;
    padding-top: 28vh;
    margin-bottom: 0.75rem;
}

.gc-2 {
    display: grid;
    grid-template-columns: min-content auto;
    align-content: center;
    align-items: center;
    max-width: 94vw;
}

.gc2 {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    grid-gap: 0.5rem;
    align-items: center;
}

.gc3 {
    display: grid;
    grid-template-columns: repeat(3, max-content);
    grid-gap: 0.5rem;
    align-items: center;
}

.types {
    text-align: center;
    max-width: max-content;
    margin: 0 auto;

}

.types span {
    font-size: 0.8rem;
    padding: 0.25rem 1rem;
    border-radius: 7px;
    background-color: #fff;
    box-shadow: 0 0 5px #0003;
    text-align: center;
    max-width: max-content;
}

.text {
    margin-top: 0.5rem;
}

p.precio {
    width: 5rem;
    height: 5rem;
    position: relative;
}

.precio i {
    color: #5b3813;
    font-size: 5rem;
}

.precio span {
    position: absolute;
    /* border: solid 1px red; */
    left: 0;
    color: #fff;
    inset: 0;
    max-width: max-content;
    max-height: max-content;
    margin: auto;
    font-size: 1.25rem;
    font-weight: 700;
}


.foot {

    background-size: cover;
    background-attachment: fixed;
    position: relative;
    overflow-y: scroll;
    min-height: max-content;
    padding-bottom: 1rem;
    overflow: visible;
    max-width: 100vw !important;
    width: 100vw !important;
}

.foot .contactos {
    margin-top: 1rem;
    width: clamp(200px, 100%, 500px);
    margin: 0.5rem auto 0;
}

.foot .contactos * {
    color: #fff;
}

.rrss {
    margin-top: 0.5rem;
    width: clamp(200px, 100%, 500px);
    margin: 0.5rem auto 0;
}

.location {
    width: clamp(200px, 100%, 500px);
}

.location iframe {
    margin: 0.5rem 0;
    height: 20vh;
    margin: 0;
}

.foot:before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url(../img/footer.webp);
    z-index: -2;
    background-size: cover;
}

.foot:after {
    content: "";
    position: absolute;
    inset: 0;
    background: #0009;
    z-index: -1;
}

@media screen and (max-height: 700px) {


    #content .description .title {
        font-size: 1.5rem;
        padding-top: 30vh;
    }
}

@media screen and (max-height: 600px) {

    .header {
        height: 4rem;
    }

    #slider {
        margin: 1rem auto;
    }

    #content .description .title {
        font-size: 1.5rem;
        padding-top: 26vh;


    }

    .text {
        font-size: 0.9rem;
    }

    p.precio {
        width: 4rem;
        height: 4rem;
    }

    p.precio i {
        font-size: 4rem;
    }

    p.precio span {
        font-size: 1rem;
    }

    .foot .contactos * {
        margin: 0;
    }

    .foot .rrss div a i {
        font-size: 1.5rem;
    }
}

@media screen and (max-height: 600px) {

    .header {
        height: 4rem;
    }

    #slider {
        margin: 1rem auto;
    }

    #content .description .title {
        font-size: 1.5rem;
        padding-top: 26vh;


    }

    .text {
        font-size: 0.9rem;
    }

    p.precio {
        width: 4rem;
        height: 4rem;
    }

    p.precio i {
        font-size: 4rem;
    }

    p.precio span {
        font-size: 1rem;
    }

    .foot .contactos * {
        margin: 0;
    }

    .foot .rrss div a i {
        font-size: 1.5rem;
    }
}

@media screen and (max-height: 520px) {

    .header {
        height: 3rem;
        background: red;
    }

    .header .home img {
        width: 2rem;
        height: 2rem;
    }

    #slider {
        margin: 0rem auto;
    }


    .bodyBG {
        height: calc(3rem + 30vh);
    }

    /*
    #content {
        inset: 3rem 0 0 0;
        grid-auto-rows: calc(100vh - 3rem);
    }
*/
    #content .description {
        max-width: 98vw;
        border: solid 1px green;
        margin: 0 auto;
        /* max-height: calc(100vh - 3rem); */
    }

    #content .description .title {
        font-size: 1.25rem;
        padding-top: 25vh;


    }

    .text {
        font-size: 0.8rem;
    }

    p.precio {
        width: 4rem;
        height: 4rem;
    }

    p.precio i {
        font-size: 4rem;
    }

    p.precio span {
        font-size: 1rem;
    }

    .foot .contactos * {
        margin: 0;
    }

    .foot .rrss div a i {
        font-size: 1.5rem;
    }
}